.content {
  table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  
    th{
      padding: 10px 0;
      text-align: center;
      background-color: #ccc;
      border: solid 0.2px white;
    }
  
    td{
      padding: 10px 0;
      text-align: center;
      background-color: #eee;
      border: solid 0.2px white;
    }
  }
  
  img {
    width: 100%;
  }
}

.top-logo {
  align: center;
  text-align: center;
}

.row-blog {
  padding: 10px;
}

.col-thumbnail {
  padding-top: 20px;
}

.blog-title {
  font-size: x-large;
}

h2 {
  font-size: x-large !important;
  font-weight: bold !important;
  border-bottom: solid 1px #BBBBBB;
  margin-bottom: 10px !important;
  margin-top: 40px !important;
}
h3 {
  font-size: large !important;
  font-weight: bold !important;
  border-bottom: dashed 1px #BBBBBB;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}